@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "editundo";
  src: url("/fonts/editundo.ttf");
}

@font-face {
  font-family: "ibmplexmonoregular";
  src: url("/fonts/IBMPlexMono-Regular.ttf");
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html {
  cursor: url("/mouse2.png"), auto;  
}

button:hover {
  cursor: url("/mouse2.png"), auto;  
}

a:hover {
  cursor: url("/mouse3.png"), auto;  
}